[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -o "*" -m "fill" -i "%h/Pictures/backgrounds/1.jpeg"
Restart=on-failure
