* {
    border: none;
    border-radius: 0;
    font-family: CaskaydiaCove Nerd Font;
    font-size: 13px;
    min-height: 21px;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background-color: #93BE9A;
    margin-top: 8px;
    margin-left: 7px;
    border-radius: 5px;
    font-size: 18px;
}


#workspaces button {
    all: initial;
    min-width: 0;
    margin-left: 8px;
    margin-right: 8px;
    color: #4D5960;
}

#workspaces button.focused {
    color: #333C43;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#clock {
    margin-top: 8px;
	  margin-left: 2px;
	  padding-left: 8px;
	  padding-right: 8px;
	  margin-bottom: 0;
    border-radius: 8px;
	  background-color: #E67E80;
	  transition: none;
	  color: #333C43;
}

#cpu {
    background-color: #E69875;
}

#memory {
    background-color: #DBBC7F;
}

#disk {
    background-color: #A7C080;
}

#network {
    background-color: #7FBBB3;
}

#pulseaudio {
    background-color: #DAB48D;
}

#custom-spotify {
    background-color: #83C092;
}

#tray {
    margin-right: 7px;
    background-color: #D699B6;
}
